# Игнорируем стандартные директории Next.js
.next/
out/
dist/
node_modules/

# Игнорируем авто-генерируемые файлы
.next-env.d.ts

# Игнорируем кэш и логи
*.log

# Игнорируем системные файлы
.DS_Store
.env*.local

# Игнорируем публичные файлы (если не хотим форматировать)
/public/

# Игнорируем конфигурационные файлы (опционально)
*.md
*.yml
*.yaml